@tailwind base;
@tailwind components;
@tailwind utilities;



.h-nav { 
  height: calc(100vh - 3.5rem)
}

/* Global styles for form elements */
input,
textarea,
select{
  @apply border border-gray-300 rounded;
}

input:focus,
textarea:focus,
select:focus {
  @apply border-indigo-600;
}

input:active,
textarea:active,
select:active {
  @apply border-indigo-600;
}
